# Xcode
DerivedData/
.idea/
xcuserdata/
xcdebugger/
xcshareddata/

# Xcode Project and Workspace
*.xcodeproj/project.xcworkspace/
*.xcworkspace/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Checkouts
Carthage/Build

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives and Logs
*.xcarchive/
*.ipa
*.dSYM.zip
*.bcsymbolmap

# Temporary and System Files
*.DS_Store
*.swp
*~.nib
*.mode1v3
*.pbxuser